<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1><a id="title" rel="canonical" href="{{ href }}">{{ title }}</a></h1>
        {% if rels|length > 0 %}
        <h2>Relations</h2>
            <ul id="rels">
            {% for rel in rels %}
                <li><a rel="{{ rel.title }}" href="{{ rel.href }}">{{ rel.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if items|length > 0 %}
        <h2>Items</h2>
            <ul id="items">
            {% for item in items %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if actions|length > 0 %}
        <h2>Actions</h2>
            <ul id="actions">
            {% for action in actionss %}
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
